## Build output
Debug/
Release/
x64/
build/
out/

## Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

## Qt VS generated
GeneratedFiles/
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.qrc.depends

## Qt Creator (just in case)
*.pro.user
*.pro.user.*

## CMake (ignore if not used)
CMakeFiles/
CMakeCache.txt

## Other
*.log